fpdf2==2.8.3
arxiv==2.1.3
pypdf==5.2.0
langchain==0.3.17
faiss-cpu==1.10.0
huggingface-hub==0.32.3
transformers==4.46.3
langchain-community==0.3.16
langchain-core==0.3.63
langchain-groq==0.2.4
langchain-huggingface==0.2.0
langgraph==0.4.1
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.41.1
typing-extensions==4.12.2
sentence-transformers==4.1.0
