fpdf==1.7.2
fpdf2==2.8.3
langchain==0.3.17
transformers==4.46.3
langchain-community==0.3.16
langchain-core==0.3.63
langchain-groq==0.2.4
langchain-huggingface==0.2.0
langgraph==0.4.1
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.41.1
typing-extensions==4.12.2
sentence-transformers==4.1.0
